<header class="hero-unit" id="banner">
  <div class="container">
    <h1>TRACKSNAPS</h1>
    <p class="lead">Proof Of Concept</p>
    <!--<img src="assets/images/yeoman.png" alt="I'm Yeoman">-->
  </div>
</header>



<div class="container">

<!--
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in $ctrl.awesomeThings">
        <li><a href="#" uib-tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="$ctrl.deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="$ctrl.newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addThing()">Add New</button>
      </span>
    </p>
  </form>

-->

  <md-content class="md-padding">

   <form ng-submit="$event.preventDefault()">

    <md-autocomplete 
            md-no-cache="ctrl.noCache"
            md-selected-item="$ctrl.selectedItem"
            md-search-text="$ctrl.searchText"
            md-items="item in $ctrl.querySearch($ctrl.searchText)"
            md-item-text="(item.firstName + ' ' + item.lastName)"
            md-delay="300"
            md-floating-label="Search runners">
          <md-item-template >
            <!--<img ng-src="{{item.avatar_url}}" class="avatar" style="width:40px"/>-->
            <span class="flag-icon flag-icon-{{item.countryCode | lowercase}}"></span>
            &nbsp;&nbsp;
            <span md-highlight-text="$ctrl.searchText">{{item.firstName}} {{item.lastName}}</span>  
          </md-item-template>    
          
        </md-autocomplete>

    </div>
  </div>

  </form>
  </md-content>



</div>
